language:
  - python
  - node_js

python:
  - 2.7
node_js:
  - 0.10

install:
  # google app engine
  - svn checkout http://googleappengine.googlecode.com/svn/trunk/python/google google_appengine/google
  - svn checkout http://googleappengine.googlecode.com/svn/trunk/python/lib/webapp2 google_appengine/lib/webapp2
  - svn checkout http://googleappengine.googlecode.com/svn/trunk/python/lib/webapp2-2.5.2 google_appengine/lib/webapp2-2.5.2
  - svn checkout http://googleappengine.googlecode.com/svn/trunk/python/lib/webob-1.2.3 google_appengine/lib/webob-1.2.3
  - svn checkout http://googleappengine.googlecode.com/svn/trunk/python/lib/yaml google_appengine/lib/yaml
  - svn checkout http://googleappengine.googlecode.com/svn/trunk/python/lib/yaml-3.10 google_appengine/lib/yaml-3.10
  # pip requirements
  - pip install -r pip_requirements.txt
  # node modules
  - npm install -g grunt-cli
  - npm install -g bower
  - npm install
  # bower componetns
  - bower install

before_script:
  - node -v
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - python application/test.py
  - grunt test
