<!DOCTYPE html>
<html ng-app="v">
    {% load filters %}
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title ng-bind="$state.current.resolve.title() + 'Victorique'">Victorique</title>
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        {% if debug %}
            <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
            <link type="text/css" rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css"/>
            <link type="text/css" rel="stylesheet" href="/bower_components/AlertView/dist/alert_view.css"/>
            <link type="text/css" rel="stylesheet" href="/css/nprogress.css"/>
            <link type="text/css" rel="stylesheet" href="/css/site.css"/>

            <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
            <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
            <script type="text/javascript" src="/bower_components/AlertView/dist/alert_view.js"></script>
            <script type="text/javascript" src="/bower_components/nprogress/nprogress.js"></script>
            <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
            <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
            <script type="text/javascript" src="/bower_components/angular-validator/dist/angular-validator.js"></script>
            <script type="text/javascript" src="/javascript/app.js"></script>
        {% else %}
            <link type="text/css" rel="stylesheet" href="/css/site.min.css"/>
            <script type="text/javascript" src="/javascript/site.min.js"></script>
        {% endif %}
        <script type="text/javascript">
            var user = {{ user|json }};
            var url = {{ url|json }};
        </script>
    </head>
<!--
                            ;'''''':
                               ;''''';,
                                 ,'''''';;,`
                                   :'+''';;;::::,`
                                    .+'';:::::::::,,
                                     ,;:,,,,,,,,:::,,,
                                      :,,:;,,,,::::::,,
                                      ,,,,,,,,,:::::::,,
                                      ,,,,,,,,,,:::::::,,
                                      .,,,,,,,,::::::::,,.
                                      .,,,,:,,,:::::::::,:
                                      .,,,,,,,,:::::::::::
                                      ,,,.,,,,,:::::::::::   太陽花好吃嗎？
                                      ,,.,,,,,::::::::::::
                                     .,..,,,,::::::::::::;   問秋意。
                                     ,,.,,,,,::::::::::::
                                    ,,.,,,,::::::::::::::
                                   ,,,,,,,::::::::::::::
                                  ,,,,,,,:::;;;::::::::,
                                 ,,,,,,,::;;;;;::::::::
                               `:,,,,,,::;;;;:::::::::
                              ,:,,,,,,::;;;;;:::;::::
                            `:,,,,,,,::;;;;;::;;:::.
                           ::,,,,,,::;;;;;;:;;;:::
                         ::,,,,,,::;;;;;:::;;;:::
                       ,:,,,,,,::;;;;;;;;;;;::;`
                     ,:,,,,,:::;;;;;;::;;;::::
                   ,:,,,,,:::;;;;;;:::;;;;;:
                 .:,,,,:::;;;;;;:::;;;::::
               `::,,,:::;;;;;;:::;;;:::.
              :,,:::::;;;;;;;::;;::::`
            ::::::::;;;;;;;;;;:::;,
         `;;;;;;;;;;;;;;;;:::::,
         ;;''';:;;;;;::::::.
          .++'';;::,.`
-->
<body>
    <div ui-view></div>
</body>
</html>