<!DOCTYPE html>
<html ng-app="v">
    {% load filters %}
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title ng-bind="$state.current.resolve.title() + 'Victorique'">Victorique</title>
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        {% if debug %}
            <link type="text/css" rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css"/>
            <link type="text/css" rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css"/>
            <link type="text/css" rel="stylesheet" href="/bower_components/AlertView/dist/alert_view.css"/>
            <link type="text/css" rel="stylesheet" href="/css/nprogress.css"/>
            <link type="text/css" rel="stylesheet" href="/css/site.css"/>

            <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
            <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
            <script type="text/javascript" src="/bower_components/AlertView/dist/alert_view.js"></script>
            <script type="text/javascript" src="/bower_components/nprogress/nprogress.js"></script>
            <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
            <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
            <script type="text/javascript" src="/bower_components/angular-validator/dist/angular-validator.js"></script>
            <script type="text/javascript" src="/javascript/app.js"></script>
        {% else %}
            <link type="text/css" rel="stylesheet" href="/css/site.min.css"/>
            <script type="text/javascript" src="/javascript/site.min.js"></script>
        {% endif %}
        <script type="text/javascript">
            var user = {{ user|json }};
            var url = {{ url|json }};
        </script>
    </head>
<!--
MMMM??OOOOOOOOOOOOODOOOOOO$7O777Z~~~~~~=~~I~=~~~~=O~7+~===~~~~=~~~~~~~~~~~~II?~~~=~~~~~~~=I7777I7I8?+??????????????+MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMM?IOOOOOOOOOOOOOOOOOOON777D7O~~~~~~~=:8~~~~~~~~~$$~~7~~=~~=~~=~~~~~~~~~~OII=~~~~~~==~~~~=+I77I7D????????8?+??????+NMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMM?IOOOOOOOOOOOOOOOOOO8777778=~~~~=~=?:O=~~~~~~O=7~==~=~~~~$~~~~~~~~~~~~~$77~=~~==?~=~~~~=~=I7IOD????????8?=??????I?IMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMM??OOOOOOOOOOOOOOOOOO77Z77Z~~~~~~=~$=7~=~~~~===~7~~~~==~==O===~=~===~~~~~7I,~~~~~=~~~~~~~O==IIID??8????????+???????..MMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMM??OOOOOOOOOOOOOOOOOOOD77D~~~~~~~~$~O~~~~~~~=D~7~~~=~~:,~~I::::::::~~===~7ID~~~~~~D=~~~~==~=?I7Z???????????????????...MMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMM??OOOOOOOOOOOOOOOOOOO777=~~~~~~~=+~I~~~===~~O=I~:::,,,,:?=,,,,,,,,,,,,:=I7I,:,:~~I==~~~~~=~=7I$?????????????8????? ..~MMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMM??OOOOOOOOOOOOOOOOOOD77~~=~~~~~~~=I~=~~=~,,:~?8,,,,,,,,=7:,,,,,,,,,,,,,=II7,,,,,:OO~,,,,,=~==I7??????????????????? ...MMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMM7?OOOOOOOOOOOOOOOOOOO7=~:=~=~=~===I,,,,,,,:I=7,,,,,,,,,~7:,,,,,,,,,,,,,=I7I,,,,,,=I=:,,,,:==~7I??????????????????I ....MMMMMMMMM8 ..... MMMMMMMMMM
MMMMD??OOOOOOOOOOOOOOOOOO8=,,::,,,,,:7?,,,,,,,,I~7,,,,:,,,,=I,,,,,,,,,,,,,,+O7I,,,,,:,7Z~,,,,,~=~~I???8??????????????O.....8MMMMM8  ....... 7MMMMMMMMM
MMMMM??OOOOOOOOOOOOOOOOOZ=,:,,,,,,=:,I,,,,,,,,=D=7,,,,,,,,:I7,,,,,,,,,,,,,,+NIIZ,,,,,,77=,,,,,~~=~I????????????I7 I$?O..... MMM. .......... ?MMMMMMMMM
MMMMM??7OOOOOOOOOOOOOOOOD~,,,,,,,,,,Z$:,,,,,,,7~8I,,,,,7:,~77,,,,,,,,,,,,,,+DIIO:,,,,,II7~,,,,,~~~=????????????? ..I7.......M,..............?MMMMMMMMM
MMMMM8??ZOOOOOOOOOOOOOOO,,:,,,,,,::,7=,,,,,,,,7=ZI,,,,,$,,~7I,,,,,,,,,,,,,:?8I7I:,,,,,8I$=,,,,,~==~????I??????I.... Z .....  ....... . ..  .?MMMMMMMMM
MMMMMM??$OOOOOOOOOOOOOO8:,:,,,:,,Z,,I:,,,,,,,,7=I7:,,,,,,,~77:,,,,,,,,,,,:~I877I,,,,,,:7I~,,,,,~7=~????O??????...... ...... ...  . =. ... ?.?8MMMMMMMM
MMMMMMI??OOOOOOOOOOOOOO,Z,,,,,:,,::,I,,,,,,,,II~7$,:~~~~==~77::~=~~~~~~~==~I877I,=,,,:,77=:,,,,:I~=????OOI???:...... :.   ..  .?   ......:?+?DMMMMMMMM
MMMMMMM??7OOOOOOOOOOOO8,,,,,,,7:,,,II~~==~~~=I7~I7~~~~~=~==7I~=~~~~~~~~~~~~ID7I7====~~~III~,,,,:ID~????DOO???,........=     : ..........I???IZMMMMMMMM
MMMMMMMI??OOOOOOOOOOOO:,,,,,,,,,,~=OZ~~~~~~=~77~II=~~~~~O~~7I~~~~~~~~~~~~~~7DO7I=~~~=~~I7D~~~~~=+7=????7ZO$?  .......... I.............7????$I?DMMMMMM
MMMMMMMM??IOOOOOOOOOOO,:::,:~~~=$~=ID~~~~~~==7I=77~~~~~~=~=7I=~~~~~~~~~~~~~IZD77~~~~=~~I77~~~~~==7=?????OOO$......... ................O???????????MMMM
MMMMMMMMD??OOOOOOOOOOO,~~=~=====I=~ID=~=~~~=~77~7I~=~~~==~=77=~~~~~~~~~~~~~IID77=~~~~=~ZIII~~~~~=7=7????OOO:......... ................??????I???????NM
MMMMMMMMMI??OOOOOOOOOO~=~=~===~=~=~IO~~=~~~==I7=II~=~~~~=8~7I~~~~~~~~~~~~~~77D7I~~~~~=~D777~~~~~=I~?????ZOO ......... ................???????8???????7
MMMMMMMMMM??IZOOOOOOO,~~~~=~=I=~~=~7Z=~~~~~~O77~Z7~~~~~~~~=77=~~~~~~~~~~~~~77DI7=~~~~~~$777~=~~~~7==????OOO........ ,.................???????????????I
MMMMMMMMMMM??OOOOOOOO~==~~=~=$=~==~7Z+~~~~~~D77~DI7=~~~~~~~II~~~~~~~~~~~~~~II8II=~~~~~=II77~=~~~=7==????ZOZ........ ? .........       .??????????????M
MMMMMMMMMMM8??OOOOOOO~=~=~~~=7====~7D7~~~~~~877~I7$~~~~~~~~=II~~~~~~~~~~~=+I78I$=~~~~~?I777==~~==I~=Z????ZZ........??...........?????. ????????????INM
MMMMMMMMMMMMD+?ZOOOOO==~~~~~=I~~==~7O7=~~~~~8II~~77~~~~~~~~=7D~~~~~~~~~~~~III8I8~~~~~~7II77==~~=+I==~????OO:..... .?I .    .??????????..???????????8MM
MMMMMMMMMMMMMO??OOOOO~~~~~~~~7~~==~777~~~~~~D778=I7~~~~~~~~$7$~~~~~~~~~~~=7$7878=~~~==7II77==~==I7==~????OOO......???...:?????????????I.Z??????????MMM
MMMMMMMMMMMMMM$?+OOOO~~~=~~~~I=~==~7I7=~~~~~D77I=IIO~~~~~~~~II=~=~~~~~~~~=7D787Z====~~77I77=~~~~7I~~=????OOO.....?I?III?????????????????.?????????MMMM
MMMMMMMMMMMMMMM8??ZOZO~~=~~~=7~~~=~7I7=~~~~~7I7I=8I7~~~~~~~=87~~=~~~~~~~~=I$IDI===$87=I7III~~~~~77~~~D???OOO$.. :????II????????????????+.:???+???MMMMM
MMMMMMMMMMMMMMMMM??OO8~~7~~~~I~=~~~D7OI~~~~==$7IZ~77=~=~~~~~~7=~~~~~~~~~~7OI7D7~==~~=I7$777~=~~~II=+=II??OOOO??I??????$????????????????  .???.:+MMMMMM
MMMMMMMMMMMMMMMMMM+??O~~Z~~~=I8~=~~7III8+~~=~II7$8I7Z~~~~~~~=8~~~~~~~~~~~I7I7OI~??~~+DMMMNZ~~~~+ID=8~II??OOOOZ?8$II???DI??????????????..8, ...OMMMMMMM
MMMMMMMMMMMMMMMMMMMD??~=+=~~=II~=~=?7777=~~~~7777?=II~=~O~==~~$~=~~~~~~=IIII8INMMMMMNOOZOMMMMMMD7==7~I8??OOO++I??+???I,II????????????......  ?MMMMMMMM
MMMMMMMMMMMMMMMMMMMMM?7~~7~~=+7=O~==77O7~~~~=+7I7I~II$?=~=~~~~Z~=~~~~~~~77DMMMMI...~ONOOOZM+IMMII~~==I7??OOO????I????O.?+,+?????????:.I??????ZMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM=~I~~~~7Z==~~$7IMMMMMMN$$NMMMMM$~~~~~~~::::::::::::?~:I..MZOONDDOOOM..M::~=~==77??OOI???I?????..???O..???????.+????I??7MMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM~~++~~~77~===$IIIMMIIII..ZONDOZOMM,::::::::::::::::::::..MOZOONZO7OM.M~~:$=~~~IOD?ZZ????.?????..~???I:....=?..?++??7I??MMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM?=~7~~~I78O~~+:::,MMI?.MZOODDOOOM,::::::::::::::::::::::.?MI~~~~~~M~:::::~=$~~I7I?O????I.?????...??????I......7?????????8MMMMMM
MMMMMMMMMMMMMMMMMMMMMMMM=~D~~~=77~=~=Z:::~:~..,O~8Z8O+OM:::::::::::::::::::::::~::::::::::::::::==?~=777? ????=.~????7...??????I?$ .,I?$???Z???IMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMM~~~7=~~77$+==7:::::::..MZ+:~:OZ.:::::::::::::::::::::::::::::::::::::::+====?$7I..???? ..??????.. ??????????????????????MMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMD=~7+==III=~~=D::::::::,::::::::::::::::::::::::::::::::::::::::::::::~~=7~=7II...,???  .?????I? . ???????????????OI???DMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMM~~~7~~~77D8=~I:::::::::::::::::::::::::::::::::::::::::::::::::::::::==~~==ZI.....???...???????I,..,????????7?????????MMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMM~~=I=~777=~=+I::::::::::::::::::::::::::::::::::::::::::::::::::::::~=I=~=7... ..I?$...=????????....I?????7?????????MMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMM~==8?~?I77===7$:::::::::::::::::::::::::::::::::::::::::::::::::::::==D~=I  = ...=I$....?????????,...I????????$???I8MMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMM.~~~7=~7I7IO~=7:::::::::::::::::::::::::::::::::::::::::::::::::::~O=7~+Z. I. .~. I. ...????????8O. ...??????O????7MMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMM..~==I++77I~D~77~:::::::::::::::::::::~::::::::::::::::::::::::::::=~D=..+???????77OZZOZO+?I????OOO7 ...~8???MMO?DMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMO..,:?I???DDDN..,::::::::::::::::::::::::::::::::::::::::::::::::::~+?Z..??????I8I77OOOOOOOOOI??OOOOOO. ..???MMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMM  ...?????DDDDD..::::::::::::::::::::::::::::::::::::::::::::::::::II..+???????7I77IO?OOOOOOOOOOO$OOO8OO. ??MMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMM. . .?????DDDD88..::::::::::::::::::::::::::::::::::::::::::::::::+8 .??????I777I777O??OODOOOOOOO?ZOOOOOONMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMD...  ??O??DDDDDDDN..:::::::::::::::,=Z~8=~::?Z~:::::::::::::::::?I..I??????I7II77777O???OOOOOOOOO??OOONOOOMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMM ...  ??Z??DDDDDDDDMI...,:::::::::::~:O:::::::::::::::::::::::::+..I????I8I77I7II777IO????OOOOOOOO7?ZZOOOOOMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMM..... ?????8DDDDDDDII77.,::::::::,I=$,::::::::::::::::::::::::?..I????7?II7777II77I77O?????ZOOOOOOZ??OOOONMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMM.... .?????DD8DD87777I$:I.,=:,:~:~I?::::::::::::::::::::::::~~.+???I$I777I77IIIII7I7II?????DOOOOOOZ??ZOOOMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM8......???I?7IIZO~,~::::::Z7I=:,ZII:::::::::::::::::::::::,:..???II??7I7I7I77IIIIIII7I???????OOOOOO7???ZOOOMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM.......??O:=~::$7,:::::::::O7$7+I7:~,:::::::::::::::::::~I.~IIOI777?+OMN77777III7III77???????OOOOOO????OOOOMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM..... .?+7,7:::::~::::::::::IZOI7II878:~:::::::::::~~:..,ZIIIIIIIIIII?::~+I?77II7D7I7I??????IOOOOOO????$OOOOMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM..... .?:::::::~:::::::::77,=.,III??IIIII7,~,::,:,I::~~Z7IIIIIIIIIIIIIIII7:~?I7I777I77?????+?DZZOOO??DMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM.......:::::,:8:II78::,:7II7:...7IIIIII?IIII?~:::::::::::::~D888O8O88O$II?II~~~,I7I777I?N$7I7OI7I7NMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM......Z:::,7+=$:::::::::877$..=~::7Z77Z:IIIII::::~:::::::::::::::::::::::::::?~:::~III7IIIII77OI77IMMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM......,:~:?I::::::~::7::::::O?~::::::::::III8::::+:~::::::::::::::::::::::::::::::::IDZZZNI7IIIIII7IMMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM.....7:,:::::,,7:::::::::~:8?+~:::::::::::?I?:~:,MIZI:~:::::::::::::::::::::::::::::ZZZZZNN7IIII7II7DMMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMM   ..:::::::::~:::::::::Z::?N=:::::::::::ZIIIN???8II7I$~:~:::::::::::::::::::::::::8$ZZZ8NDI7Z8O7II77MMMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMM::::::::~:::::::Z:::::+?:::::::::~:OII?II7IN?+IIII?III:::::::::::::::::::::::~N8ZZZZNDDDDDDDDDDDD$MMMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMM:=~:::$::::::$:::::~:+$:::::::::~$IIIIIII$NNNMIII7O?II??I:::::::::::::::::::~:888ZZZDDDDDDDDDDDDDDDDMMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMMN,:::::::::~::::::~I::O:~::~::~O8$IIIIII?INNN:ZIIIIII$$IIIII:::~:::::::::::::D888888DDDDDDDDDDDDDDDDDMMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMMMD8$~::::::::,::::+?+?+?:,~:?III?IIIIIIIIIINNNN:~IIIIII?IIIIIIIII:::::::::::::D888888NDDDDDDDDDDDDDDDDDDMMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMM8DDD::::::::::::?=+++++++::IIIIIIIIIIIIIIDINNN:::~IIII??:~~:~:~:::+II::::::::8ZZD88MNNDDDDDDDDDDDDDDDDDDDMMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMMDDDDDD::::::::::ZI+?+++++?+,I?IIIIIIIIIIIN?MNNN::::$IIIII::::::::::::~::::::~?ZZZZZNNNNNNNNNNNDDDDDDDDDDDDDMMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMMMMDDDDDDDZ::::::::I???++++++++~I?IIIIIIIIIIZ??MNNM::::~ZIIII~::::::::::~~Z:::::I8ZZZZONNNNNNNNNNNNNNDDDDDDDDDDDMMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMMMNDDDDDDDDD~:7+??++?+++++++++++:IIIIIIIIIIIII?INNNN::::::~?IIII~:::::::::::~:::~8:8ZZZZZNNNNNNNNNNNNNNNDDDDDDDDDDDMMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMMMN8DDDDDDDDDZ::::I8+??++++++++++?8IIIII?III?7:II?NNNN::::::::IIII:::::::::::::::~:~8ZZZZZZNNNNNNNNNNNNNNNNDDDDDDDDD8MMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMMMNDDDDDDDDDDDD:::::::?Z+?+++++++?+IIIIIII$III:,:II8NNNN~::::::::?II?::::::::::::::88O8888ZZZNNNNNNNNNNNNNNNNNDDDDDDDDDDMMMMMMMMMMMMMMMM
MMMMMMMMMMMMMMDDNNNNNDDDDDDDD~:O::::~+?7++???77IIIIIIIIII$,,::?IINNNNM:::::::::~?ZI:::::::::::::N888888888NNNNNNNNNNNNNNNNNNNNDDDDDDDDNMMMMMMMMMMMMMMM
MMMMMMMMMMMMMDDNNNNNNNNNDDDDD,~7=::::::IIIIIIIIIDIIIIII8::~~::IIINNNN~::::::::::=II~::::::::::~NO888888888NNNNNNNNNNNNNNNNNNNNNDDDDDDD8MMMMMMMMMMMMMMM
-->
<body>
    <div ui-view></div>
</body>
</html>