<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>Victorique</title>
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <link type="text/css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="/css/alert_view.css"/>
        <link type="text/css" rel="stylesheet" href="/css/site.css"/>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/javascript/alert_view.js"></script>
        <script type="text/javascript" src="/javascript/angular-ui-router.js"></script>
        <script type="text/javascript" src="/javascript/angular-validator.js"></script>
        <script type="text/javascript" src="/javascript/nprogress.js"></script>
        <script type="text/javascript" src="/javascript/site.js"></script>
    </head>
    <!--{% load filters %}-->
    <script type="text/javascript">
//        var user = {{ user|json }};
    </script>
<body>
    <h2>Victorique</h2>
</body>
</html>