<div class="modal fade" v-modal="modal">
    <div class="modal-dialog">
        <form class="modal-content form-horizontal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Create an application</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-name">Title</label>
                    <div class="col-sm-10">
                        <input ng-model="model.title" validator="[required]"
                               class="form-control" id="input-name" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">Description</label>
                    <div class="col-sm-10">
                        <input ng-model="model.description"
                               class="form-control" id="input-description" type="text"/>
                    </div>
                </div>
                <div ng-if="model.app_key" class="form-group">
                    <label class="col-sm-2 control-label">App key</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">{{ model.app_key }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="submit()"
                        type="submit" class="btn btn-default"><i class="fa fa-check fa-fw"></i> Save</button>
            </div>
        </form>
    </div>
</div>