<div class="modal fade" v-modal="modal">
    <div class="modal-dialog">
        <form class="modal-content form-horizontal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 ng-if="mode=='new'" class="modal-title">Create an application</h4>
                <h4 ng-if="mode=='edit'" class="modal-title">Update an application</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-name">Title</label>
                    <div class="col-sm-10">
                        <input ng-model="application.title" validator="[required]"
                               class="form-control" id="input-name" type="text"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="input-description">Description</label>
                    <div class="col-sm-10">
                        <input ng-model="application.description"
                               class="form-control" id="input-description" type="text"/>
                    </div>
                </div>
                <div ng-if="application.app_key" class="form-group">
                    <label class="col-sm-2 control-label">App key</label>
                    <div class="col-sm-10">
                        <button ng-click="updateAppKey()" class="btn btn-default btn-sm pull-right" type="button">Update app key</button>
                        <p class="form-control-static">{{ application.app_key }}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input ng-model="application.email_notification" type="checkbox"/>
                            Send email notification
                        </label><br/>
                        <small>Send the email to members when the new log has been added.</small>
                    </div>
                </div>
                <div ng-show="mode=='edit'" class="form-group">
                    <label class="col-sm-2 control-label">Members</label>
                    <div class="col-sm-10">
                        <table class="table table-condensed table-hover">
                            <tbody>
                            <tr ng-repeat="member in application.members">
                                <td>{{ member.name }} &lt;{{ member.email }}&gt;</td>
                                <td width="60px">
                                    <label class="checkbox-inline" style="padding-top: 0;">
                                        <input ng-model="member.isRoot"
                                               ng-disabled="member.isRoot && application.root_ids.length==1"
                                               type="checkbox"/>
                                        root
                                    </label>
                                </td>
                                <td width="36px">
                                    <a ng-click="memberService.removeMember($event, member.id)"
                                       ng-hide="(member.isRoot && application.root_ids.length==1) || application.member_ids.length == 1"
                                       href="/settings/applications/{{ application.id }}/members/{{ member.id }}" class="btn btn-danger btn-xs"><i class="fa fa-times"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="input-group col-sm-6 form-group" style="padding-left: 15px;">
                            <input ng-model="memberService.email"
                                   validator='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'
                                   v-enter="memberService.invite($event)"
                                   type="text" class="form-control input-sm" placeholder="email@gmail.com"/>
                            <span class="input-group-btn">
                                <button ng-click="memberService.invite($event)" class="btn btn-default btn-sm" type="button"><i class="fa fa-plus fa-fw"></i> Invite</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button ng-click="submit()"
                        type="submit" class="btn btn-default"><i class="fa fa-check fa-fw"></i> Save</button>
            </div>
        </form>
    </div>
</div>