<div v-settings-menu="{current: 'applications'}"></div>
<div class="row">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="panel panel-default" id="profile">
            <div class="panel-heading">
                Applications
            </div>
            <form class="panel-body form-horizontal">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="profile.submit($event)"
                                type="submit" class="btn btn-default"><i class="fa fa-check fa-fw"></i> Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>