@import compass/css3


body
    font-family: "ヒラギノ角ゴ ProN", "Helvetica Neue", Helvetica, "微軟正黑體", Arial, sans-serif

.v-content
    padding-top: 60px

.footer
    padding-top: 30px

// custom bootstrap nav-pills
ul.nav-pills>li.active>a
    background-color: #eee
    color: #2a6496
    &:hover
        background-color: #eee
        color: #2a6496
// custom bootstrap table and pre
pre
    overflow: auto
    word-wrap: normal
    white-space: pre
table
    table-layout: fixed
    word-wrap: break-word
