<div class="row">
    <div ng-if="!currentApplication" class="col-sm-offset-2 col-sm-8 well">
        <p>
            There are no applications. You could create an application at <a href="/settings/applications">/settings/applications</a>.
        </p>
        <div class="text-center">
            <a class="btn btn-default btn-lg" href="/settings/applications">go to applications</a>
        </div>
    </div>

    <div ng-if="currentApplication" class="col-sm-12">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{ currentApplication.title }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="application in applications.items">
                    <a href="/applications/{{ application.id }}/logs">{{ application.title }}</a>
                </li>
            </ul>
        </div>

        <form class="input-group col-sm-4 pull-right">
            <input v-focus ng-model="keyword" type="text" class="form-control"/>
            <span class="input-group-btn">
                <button ng-click="search($event, keyword)" class="btn btn-default" type="submit"><i class="fa fa-search fa-fw"></i> Search</button>
            </span>
        </form>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th width="100px">Count</th>
                    <th width="160px">Last Occurred</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-if="!logs.items.length">
                    <td colspan="3" class="text-center text-muted">empty</td>
                </tr>
                <tr ng-click="showDetail(log.id)" ng-repeat="log in logs.items" style="cursor: pointer;">
                    <td>{{ log.title }}</td>
                    <td>{{ log.count }}</td>
                    <td>{{ log.update_time|date:'yyyy-MM-dd HH:mm' }}</td>
                </tr>
            </tbody>
        </table>
        <ul v-pager="logs" pager-url-template="/applications/{{ currentApplication.id }}/logs?index=#{index}"
            class="pull-right" style="margin-top: 0"></ul>
    </div>
</div>