@charset "UTF-8";
/* line 4, ../sass/site/site.sass */
body {
  font-family: "ヒラギノ角ゴ ProN", "Helvetica Neue", Helvetica, "微軟正黑體", Arial, sans-serif;
}

/* line 7, ../sass/site/site.sass */
.v-content {
  padding-top: 60px;
}

/* line 10, ../sass/site/site.sass */
.footer {
  padding-top: 30px;
}

/* line 14, ../sass/site/site.sass */
ul.nav-pills > li.active > a {
  background-color: #eeeeee;
  color: #2a6496;
}
/* line 17, ../sass/site/site.sass */
ul.nav-pills > li.active > a:hover {
  background-color: #eeeeee;
  color: #2a6496;
}

/* line 21, ../sass/site/site.sass */
pre {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

/* line 25, ../sass/site/site.sass */
table {
  table-layout: fixed;
  word-wrap: break-word;
}
