<div class="row">
    <div class="col-sm-12">
        <div ng-if="currentApplication" class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                {{ currentApplication.title }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="application in applications.items">
                    <a href="/applications/{{ application.id }}">{{ application.title }}</a>
                </li>
            </ul>
        </div>

        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th width="100px">Count</th>
                    <th width="160px">Last Occurred</th>
                    <th width="80px"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="log in logs.items">
                    <td>{{ log.title }}</td>
                    <td>{{ log.count }}</td>
                    <td>{{ log.update_time|date:'yyyy-MM-dd HH:mm' }}</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>