<div class="row">
    <div class="col-sm-12">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Dropdown
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="application in applications.items">
                    <a href="/applications/{{ application.id }}">{{ application.title }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>